<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://img.icons8.com/material-outlined/48/000000/cloud--v1.png"/>
    <link rel="stylesheet" href="css/style.css" />
    <title>About||Page</title>
  </head>
  <body>
    <div class="main-content">
       {{>header}}
      <p>this is agency website, you are welcome here how can i will help you,
        cause, it's about love here
        <a href="/help">help</a>
      </p>
      <img src="img/img-1.jpg" width="500" height="300" alt="image" />
    </div>
   
    {{>footer}}
  </body>
</html>