<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://img.icons8.com/material-outlined/48/000000/cloud--v1.png"/>
    <link rel="stylesheet" href="css/style.css" />
    <title>Help||Page</title>
  </head>
  <body>
    <div class="main-content">
       {{>header}}
      <p>How can we help you as you can contact us always to hel you deliver the
      goods to the address you called, always with love</p>
    </div>
   
    {{>footer}}
  </body>
</html>